.auth-container {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: max-content;
  padding: 2rem;
  padding-right: 4.5rem;
  border-radius: 10px;
  border: var(--border);
  box-shadow: var(--shadow);

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.auth-title {
  font-family: var(--font-family);
  font-style: var(--font-style);
  font-size: 1.5rem;
  font-weight: 800;
  margin: 1rem 0rem;
}

p {
  font-family: var(--font-family);
  font-style: var(--font-style);
}

.login-btn {
  font-family: var(--font-family);
  font-style: var(--font-family);
  font-weight: 600;
  border: var(--border);
  border-radius: 5px;
  padding: 0.75rem 1rem;
  margin-top: 1.75rem;
  background-color: var(--primary-purple);
  color: white;
}

.login-btn:hover {
  cursor: pointer;
  /* background: #e8e9eb; */
}

.input {
  width: 15rem;
}
