.welcome {
  font-family: var(--font-family);
  font-style: var(--font-family);
  font-size: var(--small-font-size);
}

.overview-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;
}

.overview-range-container {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

.overview-range {
  font-family: var(--font-family);
  font-style: var(--font-family);
  font-size: 14px;
  font-weight: var(--title-font-weight);
  color: black;
  margin-left: 1.5rem;
  background: #f6f6fb;
  padding: 12px 28px;
  border-radius: 36px;
}

.overview-range.highlighted {
  background-color: var(--primary-purple);
  color: white;
}

.overview-range:hover {
  cursor: pointer;
}

.heading {
  font-family: var(--font-family);
  font-style: var(--font-family);
  font-weight: var(--title-font-weight);
  font-size: var(--title-font-size);
}

.agent-overview-container {
  height: 400px;
  width: 100%;
  display: flex;
  margin-top: 2rem;
}

.agent-overview-stats,
.agent-overview-graph {
  height: 100%;
  border-radius: 0.6rem;
}

.agent-overview-stats {
  justify-content: space-between;
}

.agent-overview-graph {
  width: 77%;
  padding: 2rem;
  margin-right: 3%;
  border-radius: 2rem;
  border: var(--border);
  box-shadow: var(--shadow);
}

.agent-overview-graph-header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.agent-overview-graph-header {
  font-size: var(--normal-font-size);
  font-weight: 600;
}

.agent-overview-graph-value {
  font-weight: 600;
  font-size: var(--title-font-size);
  color: var(--primary-purple);
}

.recharts-responsive-container {
  height: 90%;
}

.agent-overview-stats {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-family);
  font-style: var(--font-style);
}

.agent-stats-item-container {
  height: 190px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: var(--border);
  border-radius: 2rem;
  background-color: var(--bg-main);
  padding: 2rem;
}

.item-head {
  font-family: var(--font-family);
  font-style: var(--font-style);
  font-weight: 600;
  font-size: 0.75rem;
}

.item-body {
  font-size: 28px;
  font-family: var(--font-family);
  font-style: var(--font-style);
  color: var(--primary-purple);
  margin-bottom: 10px;
  font-weight: 700;
}

.agent-portfolio-container {
  height: max-content;
  width: 100%;
  font-family: var(--font-family);
  font-style: var(--font-family);
  margin-top: 1rem;
}

.client-container-head {
  height: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.agent-portfolio-container-head {
  height: 2.5rem;
  width: 100%;
  display: flex;
  font-size: 1.0125rem;
  border-bottom: var(--border);
  color: #cbcbcb;
}

.add-client-btn {
  font-family: var(--font-family);
  font-style: var(--font-family);
  font-weight: 600;
  font-size: 0.75rem;
  border: var(--border);
  border-radius: 5px;
  padding: 0.75rem 1rem;
  background: var(--primary-purple);
  color: white;
}

.add-fund-btn:hover {
  cursor: pointer;
}

.agent-portfolio-container-content {
  margin-top: 0.5rem;
  position: relative;
}

.agent-portfolio-name {
  width: 60%;
}

.agent-portfolio-right {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.agent-portfolio > p {
  margin-right: 0.75rem;
}

.agent-portfolio {
  height: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  color: black;
}

.agent-portfolio:hover {
  margin-left: -5px;
  cursor: pointer;
}

#dollar-sign {
  font-size: var(--font-style);
  font-family: var(--font-family);
  font-size: var(--title-font-size);
  font-weight: 900;

  background: #9dc4ff;
  background: -webkit-linear-gradient(to top right, #9dc4ff 10%, #174994 44%);
  background: -moz-linear-gradient(to top right, #9dc4ff 10%, #174994 44%);
  background: linear-gradient(to top right, #9dc4ff 10%, #174994 44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
