.container {
  height: 100%;
  width: 100%;
}
.row {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
}

.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.head {
  margin-bottom: 10px;
}

.symbol {
  font-size: 1.1rem;
}
