.center {
  position: absolute;
  left: 50%;
  top: 50%;
}

.fund-header-container {
  margin-top: 2rem;
}

.stat-value-left {
  font-weight: 400;
  color: grey;
}

.stat-value-right {
  font-weight: 500;
}
