.back {
  font-weight: normal;
  display: flex;
  flex-direction: row;
  height: max-content;
  width: max-content;
  overflow: hidden;
  align-items: center;
  margin-left: -5px;
}

.back:hover {
  cursor: pointer;
}
