.graph-timeline-conatiner {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.75rem;
}

.graph-timeline-conatiner > p {
  font-family: var(--font-family);
  font-style: var(--font-style);
  font-weight: 400;
  font-size: 14px;
  margin-left: 1rem;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--bg-main);
}

.graph-timeline-conatiner > p {
  cursor: pointer;
}

.graph-timeline-conatiner > p.select {
  background-color: var(--primary-purple);
  color: white;
}
