:root {
  --font-family: "Inter", sans-serif;
  --font-style: normal;
  --title-font-weight: 700;
  --title-font-size: 1.25rem;
  --border: 1px solid #cbcbcb;
}

.side-bar {
  height: 100vh;
  background: #f6f6fb;
  width: 15rem;
  display: flex;
  flex-direction: column;
  user-select: none;
  position: fixed; /* Fixed Sidebar (stay in placeon scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  border-right: var(--border);
}

.logo {
  margin-top: 4rem;
  margin-left: 15%;
  margin-bottom: 2rem;
}

.sm-logo {
  display: none;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
}

.logo:hover,
.sm-logo:hover {
  cursor: pointer;
}

.menu-links {
  height: 300px;
  width: 100%;
  position: relative;
  /* background: red; */
  margin-top: 25px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 67px;
  color: rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: #2b2f42;
}

.links {
  display: flex;
  align-items: center;
  padding-left: 15%;
  font-size: 16px;
}

.links > .fas {
  margin-right: 0.6875rem;
  font-size: 18px;
}

.links:last-of-type {
  margin-top: auto;
}

.links#highlight {
  background: linear-gradient(
    270deg,
    rgba(113, 102, 249, 0.1) 0%,
    rgba(113, 102, 249, 0.07) 100%
  );
}

.links#highlight::after {
  content: "";
  position: absolute;
  right: 0;
  width: 5px;
  height: 67px;
  background: #174994;
  z-index: -1;
  border-radius: 4px 0 0px 4px;
}

.links:not(#highlight):hover {
  cursor: pointer;
  background: rgba(223, 223, 223, 0.22);
}

#exit {
  color: rgb(218, 77, 77);
}

#exit:hover::before {
  background: rgb(255 87 87 / 22%);
}

a #exit:hover::before {
  background-color: rgb(238, 147, 147, 0.22);
}

@media all and (max-width: 1100px) {
  .links > .fas {
    margin-right: 0px;
  }

  .logo {
    margin-left: 0;
  }

  .side-bar {
    max-width: 85px;
    align-items: center;
  }

  .content {
    width: calc(100% - 85px);
    margin-left: 85px;
  }

  .menu-links {
    padding-left: 0px;
    margin-top: 40px;
  }

  .links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    font-size: 12px;
    padding-top: 15px;
    padding-left: 0;
  }

  .fas {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-bottom: -10px;
  }

  .links > .fas {
    margin-right: none;
  }

  .fa-chevron-left {
    font-size: 18px;
  }

  .links#highlight {
    background: none;
    color: whitesmoke;
  }

  .links#highlight::after {
    content: "";
    position: absolute;
    margin-top: -13px;
    left: 4px;
    width: 90%;
    height: 85px;
    background: #204c9e;
    z-index: -1;
    border-radius: 4px;
  }
}
