.landing-page {
  height: 100%;
  width: 100%;
  display: flex;
}

.landing-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30vh;
}

.top-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #8b8b8b;
  margin-bottom: 10px;
}

.main-text {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1;
  letter-spacing: 2px;
  color: #000000;
  text-align: center;
  width: 90%;
}

.text-highlight {
  background: #9dc4ff;
  background: -webkit-linear-gradient(to top right, #9dc4ff 41%, #174994 70%);
  background: -moz-linear-gradient(to top right, #9dc4ff 41%, #174994 70%);
  background: linear-gradient(to top right, #9dc4ff 41%, #174994 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-buttons {
  display: flex;
  margin-top: 0.5rem;
  background-color: #3b82f6;
  border-radius: 5px;
  margin-top: 50px;
}

.landing-buttons > a {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  padding: 16px 2.125rem;

  color: #ffffff;
}

.right-arrow-icon {
  margin-bottom: -3px;
  margin-left: 5px;
}
