:root {
  --font-family: Cairo;
  --font-style: normal;
  --title-font-weight: 700;
  --title-font-size: 1.25rem;
  --border: 1px solid #cbcbcb;
}

.content {
  width: calc(100vw - 240px);
  margin-left: 240px;
  display: flex;
  padding: 4%;
  flex-direction: column;
}

@media all and (max-width: 1100px) {
  .content {
    width: calc(100vw - 90px);
    margin-left: 90px;
  }
}
