.nav-bar {
  background-color: #f6f6fb;
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  padding: 0px 15%;
  align-items: center;
  justify-content: space-between;
  border: var(--border);
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 67px;
}

.nav-links > p {
  margin-left: 3rem;
}

.nav-links :hover {
  cursor: pointer;
}
